// Homepage footer
footer {
  text-align: center;
  padding: 80px 0;
  > p {
    margin: 0;
    font-size: 0.8em;
    color: #777777;
  }
  .footer-brand{
    img {
      max-width: 120px;
    }
  }
  .footer-social-links {
    margin: 2rem 0;
    > a {
      opacity: 0.8;
      transition: all 0.5s;
      &:hover {
        opacity: 1;
        text-decoration: none;
        > svg {
          transform: scale(1.4);
        }
      }
      > svg{
        transition: transform 0.3s;
      }
      padding: 0 0.3rem;
    }
  }
  .footer-copyright {
    padding-bottom: 70px;
  }
}
