.section-blog-header {
  background-repeat: repeat;
  display: flex;
  min-height: 300px;
  .blog-header-content {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 100%;
    > header {
      text-align: center;
      padding-bottom: 100px;
      padding-top: 100px;
      .section-header {
        font-weight: 600;
        margin-top: 50px;
        margin-bottom: 10px;
        color: #212121;
        font-size: 32px;
        letter-spacing: 20px;
        text-transform: uppercase;
      }
      .section-breadcrumb {
        > a {
          font-weight: 300;
          color: #525252;
          font-size: 11px;
          text-transform: uppercase;
          &:not(:last-child) {
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

